div{
  font-family: sans-serif;
}

.header{
    position: relative;
    margin:0 auto;
    width: 500px;
    height: 75px;
    //border: 3px solid #73AD21;

}

.header img{
  width: 150px;
  border-radius: 90px;
}
.imagen{
    position: absolute;
    top: 0;
    right: 65%;
    width: 100px;
    height: 100px;
    //border: 3px solid red;  
}

.title{
    position: absolute;
    top: -25px;
    right: 120px;
    width: 150px;
    height: 100px;
    color: dimgray;
    //border: 3px solid blue;  
}

.buttons{
   margin: auto;
   width: 35%;
   //border: 3px solid red;
}
.lineA{
  background: dodgerblue;
  color:white;
  font-weight: bold;
  float: middle;
}

.lineB{
  background: firebrick;
  color:white;
  font-weight: bold;
}

.lineC{
  background: mediumblue;
  color:white;
  font-weight: bold;
}

.lineD{
  background: forestgreen;
  color:white;
  font-weight: bold;
}

.lineE{
  background: purple;
  color:white;
  font-weight: bold;
}

.lineH{
  background: gold;
  color:white;
  font-weight: bold;
}

.caja{
      //border: 3px solid black;
      margin: 0 auto;
      width: 45%;

}

.leftColumn{
  width: 270px; 
  float:left;
}
.righColumn{
  width: 300px; 
  float:right;
}

.lastStation{
  padding-top:5px;
}

.trip{
  padding-top:5px;
}

